.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bible {
  font-family: 'Better Grade';
}

html {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: gray;
}

*, *:before, *:after {
  box-sizing: inherit;
/*   border: 1px solid red; */
}

.fixed-nav-bar {
  position: fixed;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  line-height: 50px;
}

nav img {
  height: 50px;
}

nav .brand {
  flex: 1;
  align-self: flex-start;
  height: 50px;
  margin-left: 10px;
}

nav .link {
  flex: 1;
  max-width: max-content;
  margin-right: 40px;
}

.page-container {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.page-container > .post {
  flex: 1;
  max-width: 500px;
}

.post > .link {
  text-align: center;
  font-family: courier;
  font-size: 2.5em;
  font-weight: lighter;
  margin: 50px 0px;
}

a:hover {
  color: black;
}



@font-face {
  font-family: 'Better Grade';
  src: url('assets\\better-grade-font\\BetterGrade-519DV.eot'); /* IE9 Compat Modes */
  src: url('assets\\better-grade-font\\BetterGrade-519DV.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets\\better-grade-font\\BetterGrade-519DV.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets\\better-grade-font\\BetterGrade-519DV.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets\\better-grade-font\\BetterGrade-519DV.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
